<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new comment</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>

    <header class="container">
        <h1>Share a story</h1>
        <form action="/comments" method="post">
            <label for="name">Author Name</label><br>
            <input type="text" name="name" id="name"><br>
            <label for="topic">Comment Title</label><br>
            <input type="text" name="topic" id="topic"><br>
            <label for="comment">Comment</label><br>
            <textarea name="comment" id="comment" cols="80" rows="15"></textarea><br>
            <button>Create a comment</button>
            <a href="/comments">Cancel</a>
        </form>
    </header>
   <footer>
    <p>Created by: Justice Sithole</p> 
    <p>I used nodejs, express and mongodb and a template engine called ejs for my front end</p>
   </footer>
</body>
</html>